@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 45%, 89%);  
    height: auto;
    width: auto;
    font-size: 62.5%;
}

.card {
    background-color:  hsl(0, 0%, 100%);
    width: 20rem;
    border-radius: 30px;
    margin: 10rem auto;
    box-shadow: 5px 5px 10px lightgray;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}

img {
    border-radius: 30px;
    padding: 20px;
    width: 100%;
}

h1, p {
    text-align: center;
    font-family: 'Outfit', sans-serif;  
    padding: 15px 25px;
}

h1 {
    font-size: 25px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size:1rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



